body{
    margin: 0;
    padding: 0;
}

.shipping-charges{
    display: none;
}
.form-container{
    max-width: 280px;
    margin: 0 auto;
    padding: 10px 20px ;
    border: 2px solid gray;
    .shipping-heading{
        h3{
            text-transform: capitalize;
            // text-align: center;
        }
    }
    .shipping-form{
        .labels{
            display: flex;
            flex-direction: column;

            input{
                padding: 10px;
                margin-bottom: 12px;
                font-size: 16px;
                border-radius: 4px;
                border: 1px solid;
            }
            input::placeholder{
                color: black;
                font-weight: bold;
            }
            #zip{
                background-color: rgb(252, 252, 167);
            }
            .btn-sbt{
                padding: 14px;
                font-size: 12px;
                border: none;
                color: white;
                font-weight: bold;
                border-radius: 4px;
                text-transform: capitalize;
                background-color: #EF7B00;
            }
        }
        .shipping-charges{
            padding: 10px ;
            border: 1px solid;
            border-radius: 4px;
            margin-top: 10px;
        }
        .shipping-footer{
            p{
                margin: 10px 0;
                font-weight: bold;
                font-size: 12px;
                text-align: center;
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}